<div class="jumbotron">
  <h1>You are from: {{::main.city}}</h1>
  <p class="lead">
    
  </p>
   <input type="text" ng-model="main.city" /><img src="{{main.urlIcon}}" alt=""><br>
  <label for="units">Units</label>
  <input type="radio" ng-model="main.units" value="metric"/> Metric
  <input type="radio" ng-model="main.units" value="imperial"/> Imperial</br>
  <h3>{{main.data.name}}</h3>
  <p>{{main.description}}</p>
  <p>Temperature: {{main.main.temp}}</p>
  <p>Wind speed: {{main.wind.speed}}</p>
  <p><a class="btn btn-lg btn-success" ng-click="main.change()">Load<span class="glyphicon glyphicons-temperature"></span></a></p>

</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
